 .image {  
   position: relative; 
   width: 100vw;
   height: 200vh;
  
}
    


h2 { 
   position: absolute; 
   color: white;
   top: 200px; 
   left: 0; 
   width: 100%; 
}


.enroll_now{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100vw;
}


.input_fields{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 100px;
}

.input_fields > input{
    width: 300px;
    padding: 10px;
    margin-top: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
}

#heading{
    display: flex;
    justify-content: center;
    color: white;
    
}

#enroll_btn{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    margin-left: 80px;
}

#enroll_btn:hover{
    background-color: rgb(189, 188, 188);
}

#branch{
    display: none;
}