.home{
    width: 85%;
}

.home > video{
    position: fixed;
    width: 100%;
    /* z-index: "-1"; */
    
}

.navbar{
 
    padding-top: 89px;
    display: flex;
    position: relative;
    color: white;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 900;
}



.button{
    
    background-color: white;
    color: black;
    font-size: 10px;
    padding: 0px 20px ;
    border-radius: 5px;
    height: 50px;
    margin-top: 40px;
    
    

}
.button2{
    display: flex;
    justify-content: center;
    background-color: white;
    position: relative;
    color: black;
    font-size: 20px;
    padding: 0px 20px ;
    border-radius: 5px;
    height: 80px;
    margin-top: 40px;
    margin-left: 1500px;
    width: 320px;
    /* justify-items: center; */
  

}

#logo{
    font-size: 80px;
    position: relative;
}

.login{
    margin-top: -1px;
}

.enroll{
    margin-top: 8px;
    font-weight: 700px;
}

#arrow{
    margin-top:14px;
}

.thought1{
    display: flex;
    position: relative;
    margin-top: 300px;
    margin-left: 350px;
    border-radius: nullpx;
    color :white;
    font-size: 47px;
    width: 100%;

}
.thought2 {
    display: flex;
    position: relative;
    margin-left: 350px;
    border-radius: nullpx;
    color :white;
    font-size: 47px;
    width: 100%;

}
.thought3 {
    display: flex;
    position: relative;
    margin-left: 350px;
    border-radius: nullpx;
    color :white;
    font-size: 47px;
    width: 100%;

}